.searchWrapper {
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: baseline;
  border-radius: 10px;
}

.searchForm {
  margin-right: 20px;
  padding: 5px;
}

.searchLabel {
  position: relative;
}

.glassImg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  z-index: 2;
}

.searchField {
  position: relative;
  padding: 5px 5px 5px 40px;
  height: 40px;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 1rem;
  border-style: inset;
}

.searchField.dark {
  background-color: rgba(11, 8, 155, 0.3);
  border: 2px solid green;
  color: #fff;
}

.searchField.light {
  background-color: #fff;
  border: 2px solid rgb(1, 27, 1);
  color: #000;
}

.searchField:focus {
  box-shadow: 5px 3px 3px #02421f;
  outline: none;
}

.searchField:active {
  outline: none;
}
