.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  width: 100%;
  cursor: pointer;
}

.title {
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
}